**Pre-processor for Data Vis Final Project**

In [11]:
#imports
import numpy as np
import pandas as pd

In [18]:
#read file
data = pd.read_csv('/content/Life Expectancy Data.csv')

       Country  Year      Status  Life expectancy   Adult Mortality  \
0  Afghanistan  2015  Developing              65.0            263.0
1  Afghanistan  2014  Developing              59.9            271.0
2  Afghanistan  2013  Developing              59.9            268.0
3  Afghanistan  2012  Developing              59.5            272.0
4  Afghanistan  2011  Developing              59.2            275.0

   infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   ...  \
0             62     0.01               71.279624         65.0      1154  ...
1             64     0.01               73.523582         62.0       492  ...
2             66     0.01               73.219243         64.0       430  ...
3             69     0.01               78.184215         67.0      2787  ...
4             71     0.01                7.097109         68.0      3013  ...

   Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  Population  \
0    6.0               8.16         65.0        0.1  584.259210  33736494.0
1   58.0               8.18         62.0        0.1  612.696514    327582.0
2   62.0               8.13         64.0        0.1  631.744976  31731688.0
3   67.0               8.52         67.0        0.1  669.959000   3696958.0
4   68.0               7.87         68.0        0.1   63.537231   2978599.0

    thinness  1-19 years   thinness 5-9 years  \
0                   17.2                 17.3
1                   17.5                 17.5
2                   17.7                 17.7
3                   17.9                 18.0
4                   18.2                 18.2

   Income composition of resources  Schooling
0                            0.479       10.1
1                            0.476       10.0
2                            0.470        9.9
3                            0.463        9.8
4                            0.454        9.5

[5 rows x 22 columns]

In [29]:
#drop null values
data_cleaned = data.dropna(subset=["Life expectancy "])

In [ ]:
#rename countries name for chloropeth map
data_cleaned['Country'] = data_cleaned['Country'].replace('Bolivia (Plurinational State of)', 'Plurinational State of Bolivia')
data_cleaned['Country'] = data_cleaned['Country'].replace('Venezuela (Bolivarian Republic of)', 'Bolivarian Republic of Venezuela')
data_cleaned['Country'] = data_cleaned['Country'].replace('Iran (Islamic Republic of)', 'Islamic Republic of Iran')
data_cleaned['Country'] = data_cleaned['Country'].replace('Turkey', 'TÃ¼rkiye')
data_cleaned['Country'] = data_cleaned['Country'].replace("Democratic People's Republic of Korea", "Democratic People's Rep. of Korea")
data_cleaned['Country'] = data_cleaned['Country'].replace('Serbia', 'Serbia*')
data_cleaned['Country'] = data_cleaned['Country'].replace('Congo', 'Republic of the Congo')

In [ ]:
for country in data_cleaned["Country"].unique():
    print(country)

In [31]:
#export data for chlorpeth map
data_cleaned.to_csv('cleaned_life_data.csv', index=False)

In [36]:
for year in data_cleaned['Year'].unique():
    filtered_df = data_cleaned[data_cleaned['Year'] == year]
    filtered_df.to_csv(f'{year}.csv', index=False)